:root {
    --text-color:#000;
    --bg-color:#fff;
    --border-color:#f6f6f6;
    --sider-bg-color:#f6f6f6;
    --sider-hover-bg-color:#fff;
    --sider-color:#000;
    --siderMenu-bg-color:#fcfcfc;
}


.dark {
    --text-color:#fff;
   --bg-color:#141414;
   --border-color:#333;
   --sider-bg-color:#141414;
   --sider-hover-bg-color:#fff;
   --sider-color:#fff;
   --siderMenu-bg-color:#000;
}

/* .light {
   --text-color:#000;
   --bg-color:#fff;
   --border-color:#f6f6f6
} */