:root {
    --dark-font-color: #fff;
    --light-font-color: #000;
    --dark-background-color: #000;
    --light-background-color: #fff;
    --dark-border-color: #fff;
    --light-border-color: #000;
    --dark-box-shadow-color: #fff;
}


/*.dark {*/
/*    background-color: var(--dark-background-color);*/
/*    color: var(--dark-font-color);*/
/*}*/

/*.light {*/
/*    background-color: var(--light-background-color);*/
/*    color: var(--light-font-color);*/
/*}*/