.wrapper svg {
    width:20px;
    height:20px;
}


/* :global(.ant-layout-sider),:global(.ant-menu) {
    background-color: var(--sider-bg-color) !important;
}



:global(.ant-menu) {
    background-color: var(--siderMenu-bg-color) !important;
} */